
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: "Playfair Display", serif;
    color: #5A6F8A;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: #dbd4c6;
    scroll-behavior: smooth;
}

h1{
    font-size: 100px;
    padding-bottom: 12px;
}
h2{
    font-size: 32px;
    padding-bottom: 64px;
}
p{
    font-size: 48px;
}
.search{
    border: 1px solid #5A6F8A;
    border-radius: 32px;
    width: 400px;
    padding: 10px 10px 10px 20px;
    
}
.temukan{
    border: 1px solid #5A6F8A;
    border-radius: 32px;
    padding: 10px 30px;
}
.temukan:hover{
    background-color: #5A6F8A;
    color: #dbd4c6;
    transition: all 500ms;
}
ul{
    padding-top: 32px;
    display: flex; gap: 12px; width: 100vw;
    flex-wrap: wrap;
}