
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary: #5A6F8A;
    --paper: #dbd4c6;
    --text: #5A6F8A;
}

* {
    font-family: "Playfair Display", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--paper);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-img {
    width: 100vw;
}
.welcome {
    background-color: var(--primary);
    width: 100vw;
    height: fit-content;
    gap: 12px;
    padding: 4px;
    color: var(--paper);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wel-banner, .wel-link {
    color: var(--paper);
    font-size: 12px;
}

header {
    background-color: var(--paper);
    border: 1px #ffffff79;
    width: 100%;
    height: fit-content;
    gap: 12px;
    padding: 12px;
    color: var(--text);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.h-title {
    font-size: 64px;
    padding-bottom: 12px;
}

.h-subtitle {
    font-size: 24px;
    padding-bottom: 40px;
}

.h-mencari {
    font-size: 24px;
    padding-bottom: 4px;
}

.h-search {
    border: 1px solid var(--primary);
    border-radius: 32px;
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
}

.h-temukan {
    border: 1px solid var(--primary);
    border-radius: 32px;
    padding: 10px 30px;
    margin-left: 8px;
    cursor: pointer;
}

.h-temukan:hover {
    background-color: var(--primary);
    color: var(--paper);
    transition: 300ms;
}

main {
    background-color: #dbd4c6;
    width: 100%;
    padding: 12px;
    margin: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booklist {
    padding-top: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    gap: 12px;
    padding: 20px;
    flex-wrap: wrap;
}

.book {
    text-align: center;
}

.book img {
    height: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.book a {
    color: var(--text);
    text-decoration: none;
}

.book a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    form {
        display: flex;
        flex-direction: row;
        flex-direction: column;
        gap: 12px;
    }
    .h-title {
        font-size: 42px;
    }

    .h-subtitle,
    .h-mencari {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .booklist {
    padding-top: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 12px;
    padding: 20px;
    flex-wrap: wrap;
    font-size: 16px;
    }

    .book img {
    height: 100px;
    border-radius: 6px;
    margin-bottom: 10px;
    }
}
